a {
    text-decoration: none;
    color: inherit;
}

.link {
    color:cornflowerblue;
}

.container {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
}

.padding {
    margin-top: 12px;
    margin-left: 24px;
}