<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Store Everything</title>
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
    <script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.js}"></script>
    <link th:href="@{/css/categories/categories.css}" rel="stylesheet"/>
</head>

<body>
    <nav th:replace="fragments/navbar.html"></nav>
    <h1 style="padding: 24px 0 0 24px;">Admin panel:</h1>
    <div style="padding: 12px 5% 0 5%;">
        <form th:action="@{/admin/save}" th:object="${userListWrapper}" th:method="post">
            <table class=" col-4 table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Enable</th>
                    <th scope="col">Locked</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user, itemStat : *{users}">
                    <td>
                        <input th:field="*{users[__${itemStat.index}__].email}"/>
                    </td>
                    <td>
                        <select class="form-select" th:field="*{users[__${itemStat.index}__].role}">
                            <option th:each="role : ${T(com.example.storeeverything.user.UserRole).values()}"
                                    th:value="${role}"
                                    th:text="${role.toString().substring(5)}"></option>
                        </select>
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox"
                               th:field="*{users[__${itemStat.index}__].enabled}">
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox"
                               th:field="*{users[__${itemStat.index}__].locked}">
                    </td>
                    <!--hidden inputs to avoid null values-->
                    <td style="display: none;">
                        <input class="form-check-input" type="hidden"
                               th:field="*{users[__${itemStat.index}__].id}">
                    </td>
                    <td style="display: none;">
                        <input class="form-check-input" type="hidden"
                               th:field="*{users[__${itemStat.index}__].password}">
                    </td>
                    <td style="display: none;">
                        <input class="form-check-input" type="hidden"
                               th:field="*{users[__${itemStat.index}__].informations}">
                    </td>
                    <td style="display: none;">
                        <input class="form-check-input" type="hidden"
                               th:field="*{users[__${itemStat.index}__].confirmationTokens}">
                    </td>


                </tr>
                </tbody>
            </table>
            <div style="display: flex; justify-content: center;">
                <button th:type="submit" class="btn btn-success" style="width: 10%">Save</button>
            </div>
        </form>
    </div>

</body>
</html>