<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Store Everything</title>
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
    <script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.js}"></script>
    <link th:href="@{/css/informations/informations.css}" th:rel="stylesheet"/>
</head>

<body>
<nav th:replace="fragments/navbar.html"></nav>

<div class="d-flex justify-content-center" style="padding-top: 12px;">
    <div class="card" style="width: 30%;">
        <div class="card-body">
            <h5 class="card-title text-center" th:text="${information.title}"></h5>
            <h6 class="card-subtitle mb-3 text-muted text-center" th:text="${information.category.name}"></h6>
            <p class="card-text" th:text="'Content: '+${information.content}"></p>
            <p class="card-text"
               th:text="'Creation date: '+${#temporals.format(information.addedDate,'dd-MM-yyyy')}"></p>
            <p th:if="${information.remindDate!=null}" class="card-text"
               th:text="'Remind date: '+${#temporals.format(information.remindDate,'dd-MM-yyyy')}"></p>
            <p th:if="${information.link!=null}">
                <text>Link:</text>
                <a class="card-text link" th:text="${information.link}" th:href="${information.link}"></a>
            </p>
            <p th:if="${information.isSharedForAll()}" class="card-text" style="font-weight: bold">Shared publicly</p>
            <p th:if="${information.shareLink!=null}">
                <text style="font-weight: bold">Shared by link:</text>
                <a class="card-text link" th:text="${information.shareLink}" th:href="${information.shareLink}"></a></p>
            <br>

            <div class="row align-items-center" style="margin-top: 12px;">
                <div class="col text-center">
                    <a th:href="@{/informations}">
                        <button class="col btn btn-secondary" style="width: 101%;">
                            Back
                        </button>
                    </a>
                </div>
                <div class="col text-center" th:if="${information.sharedForAll == false}">
                    <a th:method="post" th:href="@{/informations/{id}/share-for-all (id=${information.id})}">
                        <button class="col btn btn-primary" style="width: 101%;">
                            Make public
                        </button>
                    </a>
                </div>
                <div class="col text-center" th:if="${information.sharedForAll == true}">
                    <a th:method="post" th:href="@{/informations/{id}/remove-from-public (id=${information.id})}">
                        <button class="col btn btn-primary" style="width: 101%;">
                            Remove from public
                        </button>
                    </a>
                </div>
                <div class="col text-center" th:if="${information.shareLink == null}">
                    <a th:method="post" th:href="@{/informations/{id}/share-by-link (id=${information.id})}">
                        <button class="col btn btn-primary" style="width: 101%;">
                            Share by link
                        </button>
                    </a>
                </div>
                <div class="col text-center" th:if="${information.shareLink != null}">
                    <a th:method="post" th:href="@{/informations/{id}/stop-sharing-by-link (id=${information.id})}">
                        <button class="col btn btn-primary" style="width: 101%;">
                            Stop sharing by link
                        </button>
                    </a>
                </div>
                <div class="col text-center">
                    <a th:href="@{/informations/{id}/delete (id=${information.id})}">
                        <button class="col btn btn-danger" style="width: 101%;">
                            Delete
                        </button>
                    </a>
                </div>
                <div class="col text-center">
                    <a th:href="@{/informations/{id}/edit (id=${information.id})}">
                        <button class="col btn btn-warning" style="width: 101%;">
                            Edit
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>