<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Store Everything</title>
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
    <script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.js}"></script>
    <link th:href="@{/css/informations/informations.css}" rel="stylesheet"/>
    <script defer type="text/javascript" th:src="@{/js/information_form.js}"></script>
</head>

<body>
<nav th:replace="fragments/navbar.html"></nav>

<div class="container" style="padding-top: 12px;">
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <h1>Edit information:</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4 text-center">
            <form id="form" th:action="@{/informations/{id}/edit (id=${information.id})}" th:method="post"
                  th:object="${information}">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input class="form-control" id="title" type="text" th:field="*{title}">
                    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"
                         role="alert"></div>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <textarea class="form-control" id="content" type="text" th:field="*{content}"></textarea>
                    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger"
                         role="alert"></div>
                </div>
                <div class="mb-3" id="category_select_div">
                    <label for="category" class="form-label">Category:</label>
                    <select class="form-select" id="category" th:field="*{category}">
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}"/>
                        <option th:value="0" id="new_category_option">[New category]</option>
                    </select>
                    <div th:if="${#fields.hasErrors('category.name')}" th:errors="*{category.name}"
                         class="alert alert-danger"
                         role="alert"></div>
                </div>
                <div class="mb-3" id="new_category_div" disabled="disabled" style="display: none;">
                    <label for="new_category_input" class="form-label">Category:</label>
                    <input type="text" th:field="*{category.name}" class="form-control" id="new_category_input"
                           placeholder="Category name"/>
                    <div th:if="${#fields.hasErrors('category.name')}" th:errors="*{category.name}"
                         class="alert alert-danger"
                         role="alert"></div>
                </div>
                <div class="mb-3">
                    <label for="link" class="form-label">Link:</label>
                    <input class="form-control text-center" id="link" placeholder="(optional)" type="text"
                           th:field="*{link}">
                    <div th:if="${#fields.hasErrors('link')}" th:errors="*{link}"
                         class="alert alert-danger"
                         role="alert"></div>
                </div>
                <div class="mb-3">
                    <label for="remindDate" class="form-label">Remind date:</label>
                    <input class="form-control text-center" id="remindDate" type="date" th:field="*{remindDate}">
                    <div th:if="${#fields.hasErrors('remindDate')}" th:errors="*{remindDate}"
                         class="alert alert-danger"
                         role="alert"></div>
                </div>

                <input style="display: none" type="hidden" th:field="*{addedDate}">

                <a th:href="@{/informations}">
                    <button class="btn btn-secondary" type="button" style="margin-right: 12px;">
                        Back
                    </button>
                </a>
                <button class="btn btn-success" type="submit" style="margin-left: 12px;">Save</button>
            </form>
        </div>
    </div>
</div>
</body>

</html>