<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Store Everything</title>
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
    <script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.bundle.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/informations/informations.css}"/>
</head>

<body>
<nav th:replace="fragments/navbar.html"></nav>

<h1 style="padding: 24px 0 0 24px;">Informations:</h1>

<div class="row row-cols-1">
    <div class="flexior padding">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Category filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li th:style="${category.name==categoryFilter ? 'font-weight: bold' : ''}"
                    th:each="category : ${categories}">
                    <a th:text="${category.name}" th:href="@{/informations(categoryFilter=${category.name})}"/>
                </li>
                <hr>
                <li><a th:text="clear" th:href="@{/informations}"/></li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                Sort
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li th:style="${sort=='name-ascending' ? 'font-weight: bold' : ''}"><a th:text="Name + ' ' + ascending"
                                                                                       th:href="@{/informations(sort=name-ascending)}"/>
                </li>
                <li th:style="${sort=='name-descending' ? 'font-weight: bold' : ''}"><a
                        th:text="Name + ' ' + descending" th:href="@{/informations(sort=name-descending)}"/></li>
                <li th:style="${sort=='date-ascending' ? 'font-weight: bold' : ''}"><a
                        th:text="Creation + ' ' + date + ' ' + oldest" th:href="@{/informations(sort=date-ascending)}"/>
                </li>
                <li th:style="${sort=='date-descending' ? 'font-weight: bold' : ''}"><a
                        th:text="Creation + ' ' + date + ' ' + newest"
                        th:href="@{/informations(sort=date-descending)}"/>
                </li>
                <li th:style="${sort=='category-ascending' ? 'font-weight: bold' : ''}"><a
                        th:text="Category + ' ' + ascending" th:href="@{/informations(sort=category-ascending)}"/></li>
                <li th:style="${sort=='category-descending' ? 'font-weight: bold' : ''}"><a
                        th:text="Category + ' ' + descending" th:href="@{/informations(sort=category-descending)}"/>
                </li>
                <hr>
                <li><a th:text="clear" th:href="@{/informations}"/></li>
            </ul>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 24px;">
    <div class="col" th:each="information : ${informations}">
        <a th:href="@{/informations/{id}(id=${information.id})}">
            <div class="card h-100">

                <div class="card-body text-center">
                    <h5 class="card-title text-center" th:text="${information.title}"></h5>
                    <h6 class="card-subtitle mb-3 text-muted" th:text="${information.category.name}"></h6>
                    <p class="card-text" th:text="'Content: '+${information.content}"></p>
                    <p></p>
                    <p th:if="${information.link!=null}">
                        <text>Link:</text>
                        <a class="card-text link" th:text="${information.link}" th:href="${information.link}"></a>
                    </p>
                    <p th:if="${information.remindDate!=null}" class="card-text"
                       th:text="'Remind date: '+${#temporals.format(information.remindDate,'dd-MM-yyyy')}"></p>
                    <br>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="text-center">
    <a th:href="@{/}">
        <button type="button" class="btn btn-secondary" style="margin-right: 12px; width: 10%;">
            Back
        </button>
    </a>
    <a th:href="@{/informations/add}">
        <button type="button" class="btn btn-primary" style="margin-left: 12px; width: 10%;">
            Add
        </button>
    </a>
</div>

</body>

</html>