<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <title>Store Everything</title>
    <link th:rel="stylesheet" th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.css}" />
    <script th:src="@{~/webjars/bootstrap/5.1.3/js/bootstrap.js}"></script>
    <link th:rel="stylesheet" th:href="@{/css/categories/categories.css}" />
</head>

<body>
    <nav th:replace="fragments/navbar.html"></nav>

    <h1 style="padding: 24px 0 0 24px;">Categories:</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4" style="padding: 24px;">
        <div class="col" th:each="category : ${categories}">
            <a th:href="@{/categories/{id}(id=${category.id})}">
                <div class="card h-100">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="${category.name}"></h5>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="text-center">
        <a th:href="@{/}">
            <button type="button" class="btn btn-secondary" style="margin-right: 12px; width: 10%;">
                Back
            </button>
        </a>
        <a th:href="@{/categories/add}">
            <button type="button" class="btn btn-primary" style="margin-left: 12px; width: 10%;">
                Add
            </button>
        </a>
    </div>

</body>

</html>