<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head>
    <title>Store Everything</title>
    <link th:href="@{/css/fragments/navbar.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Store Everything</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/categories}">Categories</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/informations}">Informations</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/shared}">Shared</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link" th:href="@{/admin}">Admin panel</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="btn-group"
                     th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')}">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span sec:authentication="name"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <button class="dropdown-item" type="button">Profile</button>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a th:href="@{/logout}" class="dropdown-item" type="button">Logout</a>
                        </li>
                    </ul>
                </div>
                <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')}">
                    <a th:href="@{/login}" type="button">
                        <button type="button" class="btn btn-secondary">Login</button>
                    </a>
                </div>
                <div th:unless="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or ${#authorization.expression('hasRole(''ROLE_USER'')')}" style="padding-left: 20px">
                    <a th:href="@{/register}" type="button">
                        <button type="button" class="btn btn-secondary">Register</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</nav>
</body>

</html>